extends layout


block content
  script(src="/ts/getTweets.js")
  h1= title
  p Welcome to #{title}
  button(class="btn", onclick='getTweets()').
   GET
  button(class="btn", onclick='postTweets()').
   POST
  button#ledon-button LED on
