
extends ../node_modules/jade-bootstrap/layouts/cover
append styles
	//link(href="/jade-bootstrap/css/cover.css", rel="stylesheet")
	link(href="/public/css/cover.css", rel="stylesheet")
append scripts
	script(src="/public/ts/Facebook.js")
block body
	.site-wrapper
		.site-wrapper-inner
			.cover-container
				.masthead.clearfix
					.inner
						#fb-root
						h3.masthead-brand Facebook Portal
						nav
							ul.nav.masthead-nav
								li.active 
									a(href="/") Home
								//li
									a(href="#") Features
								li
									a(href="#") Contact
								li
									.fb-login-button(data-max-rows='1', data-size='large', data-show-faces='false', data-auto-logout-link='true', scope='public_profile,email,user_posts', onlogin='checkLoginState();')
				div
					h1.cover-heading 1. Please login using Facebook.
					
				.mastfoot
					//.inner
						p Cover template for <a href="http://getbootstrap.com">Bootstrap </a>, by <a href="https://twitter.com/mdo">@mdo</a>.
					.fb-comments(data-href='http://thmsa.azurewebsites.net/', data-numposts='5')